html{
    font-size: 16px;
}
.wraper{
    font-family: 'Montserrat', sans-serif;
    background-color: #52616B;
    max-width: 1438px;
}
header{
    margin-bottom: 129px;
    width: 100%;
    height: 647px;
    background-image: url(../img/i4\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.logo{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.header{
    width: 90%;
    margin: 0 auto;
    border-bottom: 3px solid white;
}
#navmenu{
    margin:0;
    padding:0;
    list-style-type: none;
    display: inline-block;
}
#snavmenu{
    list-style-type: none;
    display: inline-block;
}
#navmenu a{
    color:#C9D6DF
}
#snavmenu a{
    color: #C9D6DF;
}
.btnf{
    width: 89px;
    height: 24px;
    left: 471px;
    top: 30px;
    display: inline-block;
}
.btns{
    width: 78px;
    height: 24px;
    left: 620px;
    top: 30px;
    display: inline-block;
}
.btnt{
    width: 71px;
    height: 24px;
    left: 758px;
    top: 30px;
    display: inline-block;
}
.btnk{
    width: 64px;
    height: 24px;
    left: 889px;
    top: 30px;
    display: inline-block;
}
.btnfive{
    width: 52px;
    height: 24px;
    left: 1150px;
    top: 30px;
    display: inline-block;
}
.btnsix{
    width: 85px;
    height: 24px;
    left: 1232px;
    top: 30px;
    display: inline-block;
}
.cards{
    width: 83%;
    margin: 0 auto;
}
.cardsone{
    height: 500px;
    background-image: url(../img/the\ 8\ 1.jpg);
    margin-bottom: 17px;
    background-size: contain;
}
.cardsone p{
    margin: 0;
    margin-bottom: 7px;
    font-size: 2.125rem;
    color: #C9D6DF;
}
.textone{
    margin: 19px 0 0 88px;
}
.cards2{
    height: 340px;
    margin-right: 18px;
    width: 49%;
    background-image: url(../img/the\ x7\ 2.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}
.cards2 p{
    margin:0;
    margin-bottom: 230px;
    font-size: 2.125rem;
    color:#C9D6DF;
}
.texttwo{
    margin: 12px 0 0 26px;
}
.cards3{
    height: 340px;
    width: 49%;
    background-image: url(../img/the\ 5\ 1.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}
.cards3 p{
    margin:0;
    margin-bottom: 230px;
    font-size: 2.125rem;
    color:#C9D6DF;
}
.text3{
    margin: 8px 0 0 126px;
}
.cardsone:hover{
    filter: grayscale(100%);
    transition: all 700ms;
}
.cards2:hover{
    filter:sepia(100%);
    transition: all 600ms;
}
.cards3:hover{
    filter:blur(5px);
    transition: all 700ms;
}